<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.GoldendewApp_V1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Goldendew_mobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldendewAppV1"
        android:usesCleartextTraffic="true">
        <activity android:name="Goldendew_moblie.example.GoldendewApp_V1.CompanyInformation"></activity>
        <activity android:name="Goldendew_moblie.example.GoldendewApp_V1.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Goldendew_moblie.example.GoldendewApp_V1.RegisterActivity" />
        <activity android:name="Goldendew_moblie.example.GoldendewApp_V1.MainActivity"></activity>
    </application>

</manifest>